@use 'src/scss/base/variables' as vars;

:host {
  display: block;
  width: 100%;
}

table {
  width: 100%;
}
.mat-header-row {
  background-color: vars.$light-grey;
}

.mat-column-actions {
  text-align: right;
}
