:host {
  display: block;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.line-form {
  margin: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.125rem;
}

.full-form {
  width: 100%;
}
.half-form {
  width: 50%;
}
