<form class="form" [formGroup]="form">
  <div class="line-form">
    <mat-form-field class="full-form">
      <mat-label>Choisir les droits</mat-label>
      <mat-select [formControl]="privilegeFormControl">
        <mat-option *ngFor="let participant of participants; trackBy: trackByParticipant" [value]="participant">
          {{LabelByParticipantRole[participant]}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="privilegeFormControl.hasError('required')">
        * Le champs est obligatoire
      </mat-error>
    </mat-form-field>
  </div>
  <div class="line-form">
    <mat-form-field class="half-form">
      <mat-label>Nom</mat-label>
      <input matInput [formControl]="nameFormControl" placeholder="Ex. Fontaine">
      <mat-error *ngIf="nameFormControl.hasError('required')">
        * Le champs est obligatoire
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-form">
      <mat-label>Société</mat-label>
      <input matInput [formControl]="companyFormControl" placeholder="Ex. Société">
    </mat-form-field>
  </div>
  <div class="line-form">
    <mat-form-field class="full-form">
      <mat-label>Adresse</mat-label>
      <input matInput [formControl]="addressFormControl" placeholder="Ex. 2 rue de la paix">
    </mat-form-field>
  </div>
  <div class="line-form">
    <mat-form-field class="full-form">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailFormControl" placeholder="Ex. foo@mail.net">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Entrer un email valide !
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        * Le champs est obligatoire
      </mat-error>
    </mat-form-field>
  </div>
</form>
